h1{
    color: #995f56;
}

body{
    margin: 0px;
}

.head1{
    width: 100%;
    height: 30px;
    text-align: center;
    align-items: center;
    background-color: rgb(242, 107, 54);
    color: white;
}

.head1 p{
    font-weight: 300;
    padding: 5px;
    margin: 0px;
}

#loc{
    font-weight: bold;
    color: rgba(22, 22, 22, 0.767);
}

.icon{
    width: 25px;
    height: 20px;
}

.logo{
    margin-left: 150px;
    margin-top: 20px;
}

.head2{
    display: flex;
    /* float: right; */

}

#item{
    padding: 0px 30px;
}

#item a{
    color: black;
}
a{
    cursor: pointer;
    text-decoration: none;
}

.nav{
    display: flex;

    padding: 20px;
    margin-left: 300px ;
    justify-content: space-between;
}

.nav h1{
    margin: 0px;
}

#srch{
    width: 250px;
    height: 25px;
    border: 1px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    margin-right: 100px;
}

.head3{
    display: flex;
    align-items: center;
    justify-content: center;
}

.head3 a{
    color: rgba(165, 46, 2, 0.842);

}

.banner1{
    display: flex;
    margin-top: 60px;
    width: 100%;
    height: 600px;
    /* border: 2px solid black; */
    /* overflow: scroll; */
    overflow: hidden;
}
.banner1 img{
    width: 100%;
    height: 600px;
}

.para{
    text-align: justify;
    padding: 30px 200px;
    margin: 50px 0px 50px 0px;
}

.para h4{
    text-align: center;
    font-size: 25px;
}

.c1head{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.line{
    height: 0px;
    border: 1px solid black;
    width: 25%;
    margin-left: 100px;
    margin-right: 100px;
}

#bigtxt{
    font-size: 40px;
}

.content{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 50px;


}

.cake{
    /* border: 2px solid black; */
    display: flex;
    align-items: center;


}

.cak{
    /* border: 2px solid black; */
    margin: auto;
    height: 400px;
    width: 350px;
    text-align: center;
}

.cak img{
    margin: auto;
    border-radius: 10px;

}

.cak img:hover{
    Transform: scale(1.1);
    transition-duration: 1s;
    }
/* .colorbox{
    
    align-items: center;
    justify-content: center;
} */

.box{
    align-items: center;
    justify-content: center;
    width: 500px;
    height: 200px;
    border: 2px solid black;
    display: flex;
}

.lineh{
    border: 1px solid black;
    width: 0px;
    height: 500px;
}


.box2{
    display: flex;
    border: 1px solid black;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 2px solid black;
    width: 878px;
}
#secbox{
    border-bottom: 0px;
}
.box2 hr{
    height: 250px;
    margin: 0px;
    border: 0.1px solid black;
}

.boxicon{
    margin: 50px;
}

.outbox{
    margin: 50px;
    /* padding: 20px 100px; */
    background-color: #fef1ec;
    margin-left: 250px;
    width: 65%;
    height: 507px;

    
    /* align-items: center; */
    /* justify-content: center; */
}

.cont1{
    margin-top: 80px;
}

.footer{
    width: 100%;
    height: 550px;
    background-color: #f26b36;
}

.blocks{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 80px;
}

.block1{
    /* border: 2px solid black; */
    height: 250px;
    width: 250px;
    color: white;
}

.btn{
    width: 100px;
    height: 20px;
    border: 2px solid white;
    color: white;
    padding: 10px;
    margin: 55px;
}

.footer a{
    color: white;
    font-weight: 100;
}


.bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}


.filter{
    width: 150px;
    height: 250px;
    /* border: 2px solid black; */
    display: flexbox;
    margin: 5px;
}

#range{
    margin-left: 80px;
}

.cakes{
    width: 244px;
    height: 360px;
    /* border: 2px solid black; */
    text-align: center;
    margin: 10px 25px;

}

.c1inside{
    position: relative;
    top: -245px;
    left: 0px;
    /* bottom: 440px; */
    background-color: gray;
    width: 70px;
    color: white;
}

#insidewdth{
    width: 110px;
}
#insidewdth2{
    width: 140px;
}
#insidewdth3{
    width: 180px;
}

.bodyy{
    display: flex;
    /* align-items: center; */
    /* justify-content: center; */
}

.bodyyy{
    display: flex  ;
    justify-content: space-between;
}

#frst1{
    margin-left: 180px;
}

.c1txt p{
    margin: 5px 0px;
}

.btnload{
    display: flex;
    width: 200px;
    height: 50px;
    border: 1px solid gray;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    margin-bottom: 5px;
}
.btnload a{

    text-decoration: none;
    color: gray;
}

.headd{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 80px;
}

.head11{
    display: flex;
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
}

.head11 h1{
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 60px;
    color: black;
    
    
}

.txt11{
    margin-left: 40px;
}

#iconimg{
    width: 90px;
}
#iconimg1{
    width: 130px;
    height: 90px;
}

.lists{
    display: flex;
    justify-content: center;
    

}

#states{
    width: 250px;
    height: 40px;
    font-size: large;
    margin: auto;
    border: 2px solid black;
    color: gray;
    font-weight: 100;
    margin-bottom: 80px;
}

.adress{
    width: 400px;
    height: 200px;
    border: 1px solid #f26b36;
    border-radius: 20px;
}

.cont{
    display: flex;
}

.iconp4{
    width: 50px;
    height: 50px;
    margin: 25px;
}

.details{
    padding: 10px;
}

.contact{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    margin-left: 10px;
    margin-right: 20px;
}

.adrbar{
    display: flex;
    justify-content: space-around;
    margin: 30px;
}

#addresslast{
    justify-content: left;
    
}



.banner1{
    display: flex;
    width: 100%;
    height: 670px;
    /* border: 2px solid black; */
    text-align: justify;
}
.contnt{
    width: 50%;
    padding: 50px;
    background-color: #fde5dc;
}

.imgban1 img{
    width: 700px;
    height: 670px;
}

.contnt h1{
    font-weight: 100;
    margin-top: 40px;
    margin-bottom: 70px;
}

.contnt p{
    font-size: large;
    
    font-weight: 50;
    margin: 20px;
}

.desc {
    text-align: center;
    padding: 0px 180px;
}

.desc p{
    font-size: 22px;
}

.cont1{
    margin-bottom: 50px;
}

.banr2{
    display: flex;
    text-align: center;
}

.ban2txt{
    padding: 30px;
}

.ban2txt h1{
    font-size: 60px;
}

.ban2txt p{
    margin: 50px;
    
}

.botcontainers{
    display: flex;
    margin-top: 0px;
}

.containers{
    /* display: flexbox; */
    width: 340px;
    height: 600px;
    background-color: #f7f7f7;
    /* align-items: center; */
    /* justify-content: space-around; */
    text-align: center;
    padding: 40px;
}

.iconslst img{
    width: 100px;
}

.containers p{
    text-align: justify;
}

#exp{
    background-color: #fde5dc;
}

#creativ{
    background-color: #ededed;
}

#pass{
    background-color: #bc998b;
}

.deliver{
    width: 160px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    border-radius: 30px;
    background-color: #f26b36;
    color: white;
    position: fixed;
    top: 600px;
    left: 20px;
    font-size: large;
    font-weight: 100;
}

.chat{
    width: 160px;
    height: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 2px solid black; */
    border-radius: 30px;
    background-color: #f26b36;
    color: white;
    position: fixed;
    top: 600px;
    /* left: 20px; */
    right: 10px;
    font-size: larger;
    font-weight: 100;
}

.chat img{
    width: 20px;
    margin: 10px
}

.slider{
    background: black;
}